<form #userForm="ngForm" class="user-form">
    <mat-form-field class="user-field" hintLabel="Enter your name">
        <input matInput placeholder="User" [formControl]="userField">
    </mat-form-field>
</form>

<form #searchForm="ngForm" (ngSubmit)="search()" class="search-form">
	<mat-form-field class="artist-field" hintLabel="Type a few characters">
		<input matInput placeholder="Artist" [matAutocomplete]="auto" [formControl]="artistField"> </mat-form-field>
	<mat-autocomplete class="artist-field" #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='artistSelected($event.option.value)'>
		<mat-option *ngFor="let artist of artists" [value]="artist">
			<span>{{artist.name }}</span> <small> | ID: {{artist.id}}</small>
		</mat-option>
	</mat-autocomplete>
	<mat-form-field hintLabel="Enter a RediSearch query" class="search-field">
		<input matInput placeholder="Search" [formControl]="searchField">
		<button *ngIf="searchField.value" mat-button matSuffix mat-icon-button type="button" aria-label="Clear" (click)="searchField.setValue('')">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
	<button mat-flat-button type="submit">
		<mat-icon>search</mat-icon>
	</button>
</form>
<br>

<div class="search-results" fxLayout="row wrap" fxLayout.xs="column"
	fxLayoutGap="1%" fxLayoutAlign="left">
	<div class="album-card" *ngFor="let album of results | async">
		<img src="/api/image/album/{{album.id}}" alt="{{album.title}}">
		<button mat-mini-fab color="primary" class="like-button-overlay mat-fab mat-primary" [disabled]="album.like" (click)="like(album)">
       		<mat-icon aria-label="Favorite">thumb_up_alt</mat-icon>
       	</button>
		<div class="card-content">
			<div class="row">
				<h5><a href="https://www.discogs.com/master/{{album.id}}">{{album.title}}</a> ({{album.year}})</h5>
			</div>
			<div class="row album-details">{{album.genres}}</div>
		</div>
	</div>
</div>