<mat-card>
    <form>
    <mat-card-header>
      <mat-card-title>
        <h2>Search Albums</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Enter search string" [formControl]="searchField">
      </mat-form-field>
      <mat-list>
          <mat-list-item *ngFor="let album of results | async">
            <h3 mat-line>{{album.title}}</h3>
          </mat-list-item>
        </mat-list>
    </mat-card-content>
    </form>
</mat-card>
<!--
<form class="form-inline">
  <div class="form-group">
    <input type="search" class="form-control" placeholder="Enter search string" [formControl]="searchField">
  </div>
</form>


<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

-->